﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance Automation </title>
    <!-- Bootstrap -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/Content/nprogress.css" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="/Content/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="/Content/custom.min.css" rel="stylesheet">
    <link href="/Content/angular-confirm.css" rel="stylesheet">
    <link href="/Content/spinner2.css" rel="stylesheet" />
    
    <!-- jQuery -->
    <script src="/Scripts/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/Scripts/bootstrap.min.js"></script>



    <script src="~/Scripts/Angular/Root/angular.min.js"></script>
    <script src="~/Scripts/Angular/Root/angular-route.min.js"></script>
    <script src="~/Scripts/Angular/Root/ui-router.min.js"></script>
    <script src="~/Scripts/Angular/config.js"></script>
    <script src="/Scripts/angular-confirm.js"></script>
    <script src="~/Scripts/Angular/Controller/mainController.js"></script>
    <script src="~/Scripts/Angular/Controller/accountController.js"></script>
    <script src="~/Scripts/Angular/Controller/addController.js"></script>
    <script src="~/Scripts/Angular/GeneralServices/rest.js"></script>
    <script src="~/Scripts/Angular/GeneralServices/alert.js"></script>
</head>
<body class="nav-md footer_fixed" ng-app="application">
<div class="container body" ng-controller="mainController">
<div class="main_container">

<div class="col-md-3  left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="" class="site_title"><i class="fa fa-paw"></i> <span>Airway</span></a>
        </div>
        <div class="clearfix"></div>
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li><a ui-sref="load"><i class="fa fa-upload"></i> Excell Yükle</a></li>
                    <li>
                        <a><i class="fa fa-chevron-down"></i> Cari Hesap İşlemleri <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">

                            <li>
                                <a>Cari Hesaplar<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a ui-sref="accountPlan">Cari Hesap Kartları</a>
                                    </li>
                                    <li>
                                        <a ui-sref="account">Hesap Plani</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a ui-sref="account"><i class="fa fa-home"></i> Cari Hesap İşlemleri <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="as">Cari</a></li>
                            <li><a href="asas">Dashboard2</a></li>
                            <li><a href="as">Hesap Planı</a></li>
                            <li><a href="as">Dashboard2</a></li>
                            <li><a href="as">Dashboard3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a ui-sref="newAccount"><i class="fa fa-edit"></i> Hesap Ekle <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="as">General Form</a></li>
                            <li><a href="as">Advanced Components</a></li>
                            <li><a href="as">Form Validation</a></li>
                            <li><a href="as">Form Wizard</a></li>
                            <li><a href="as">Form Upload</a></li>
                            <li><a href="as">Form Buttons</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="general_elements.html">General Elements</a></li>
                            <li><a href="media_gallery.html">Media Gallery</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="glyphicons.html">Glyphicons</a></li>
                            <li><a href="widgets.html">Widgets</a></li>
                            <li><a href="invoice.html">Invoice</a></li>
                            <li><a href="inbox.html">Inbox</a></li>
                            <li><a href="calendar.html">Calendar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="chartjs.html">Chart JS</a></li>
                            <li><a href="chartjs2.html">Chart JS2</a></li>
                            <li><a href="morisjs.html">Moris JS</a></li>
                            <li><a href="echarts.html">ECharts</a></li>
                            <li><a href="other_charts.html">Other Charts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                            <li><a href="fixed_footer.html">Fixed Footer</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="e_commerce.html">E-commerce</a></li>
                            <li><a href="projects.html">Projects</a></li>
                            <li><a href="project_detail.html">Project Detail</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="profile.html">Profile</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="page_403.html">403 Error</a></li>
                            <li><a href="page_404.html">404 Error</a></li>
                            <li><a href="page_500.html">500 Error</a></li>
                            <li><a href="plain_page.html">Plain Page</a></li>
                            <li><a href="login.html">Login Page</a></li>
                            <li><a href="pricing_tables.html">Pricing Tables</a></li>
                        </ul>
                    </li>

                    <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="images/img.jpg" alt="">B&B
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;"> Profile</a></li>
                        <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li><a href="javascript:;">Help</a></li>
                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">6</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>
                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <a>
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
<!-- page content -->

<div class="right_col" role="main">

    <div class="page-title">
        <div class="title_left">

        </div>
    </div>
    <div class="container">
                   
        <div ui-view></div>
        <div ng-if="isRequest == true" class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
</div>

<!-- /page content -->
<!-- footer content -->
<!-- /footer content -->
</div>
</div>
  
</body>
</html>
    <!-- FastClick -->
<script src="/Scripts/fastclick.js"></script>
<!-- NProgress -->
<script src="/Scripts/nprogress.js"></script>
<!-- jQuery custom content scroller -->
<script src="/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/Scripts/custom.min.js"></script>