﻿<div ng-controller="accountController">
    <div class="col-md-8 col-sm-10 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Hesaplar</h2>

                <div class="clearfix">
                    <button class="btn btn-default"
                            style="float: right"
                            ui-sref="newAccount">
                        Yeni Hesap
                    </button>
                </div>
            </div>
            <div class="x_content">

                <div class="col-md-12">
                    <table class="table" style="margin-bottom: 0px">
                        <thead>
                            <tr>
                                <th class="text-left">
                                    Hesap Kodu
                                </th>
                                <th class="text-left">
                                    Hesap Adı
                                </th>
                                <th class="text-right">
                                    Tipi
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="item in dataSet.data.slice(dataSet.start, dataSet.to)">
                                <td class="text-left" style="width: 33%">
                                    <a href="" ng-click="tic(item)">{{item.FullAccountCode}}</a>
                                </td>
                                <td class="text-left" style="width: 33%">
                                    {{item.AccountName}}
                                </td>
                                <td class="text-right" style="width: 33%">
                                    {{item.AccountType}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-5">

                    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite"></div>
                </div>
                <div class="col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                        <ul class="pagination">

                            <li class="paginate_button  text-left"
                                ng-repeat="number in getNumber(dataSet.totalPageNumber) track by $index">
                                <a class="active" href="" aria-controls="datatable"
                                   data-dt-idx="1"
                                   ng-click="changePage($index)">
                                    {{$index+1}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ui-view></div>
        </div>
    </div>

    
    <div ng-if="dataSet.isDetail ==true" class="col-md-8 col-sm-10 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Hesap Detayı</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 30px">
                    <li>
                        <a ng-click="exit()" class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                    <div class="form-group">
                        <label class="control-label col-md-2 -sm-3 col-xs-12" for="first-name">
                            Firma Kodu
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.CompanyCode" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="last-name">
                            Firma Unvanı
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.CompanyName" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="last-name">
                            Mersis No
                        </label>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.MersisNo" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                        <label class="control-label col-md-2 col-sm-3 col-xs-3">
                            Posta Kodu
                        </label>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.PostCode" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="last-name">
                            Adres 1
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.Address1" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="last-name">
                            Adres 2
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.Address2" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">İlçe</label>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.District" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                        <label class="control-label col-md-2 col-sm-3 col-xs-3">Şehir</label>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.City" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="first-name">
                            Telefonlar
                        </label>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.Telephone" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <input  class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="last-name">
                            Fax No
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.FaxNo" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-3">
                            Yetkili
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.Commissioned" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="last-name">
                            Web Adresi
                        </label>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.WebAddress" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                        <label class="control-label col-md-2 col-sm-3 col-xs-3">
                            E Posta
                        </label>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.EMail" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                            İşlem Bekleme Süresi
                        </label>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.ProcessWaitTime" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">
                            Kredi Limiti/Vade Gün
                        </label>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.CreditLimit" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.DueDate" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-3">
                            Tc Kimlik No
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.TCIdentificationNo" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-3">
                            Vergi Hesap No
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.TaxAccountNo" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <input id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Vergi Daire Adı
                        </label>
                        <div class="col-md-10 col-sm-12 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.TaxCircleName" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-3">
                            Tic. Sicil No
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.CommercialRegistryNo" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-3">
                            Meslek Odası
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.ProfessionRoom" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-3">
                            Oda Sicil No
                        </label>
                        <div class="col-md-10 col-sm-6 col-xs-12">
                            <input ng-model="dataSet.selectedAccount.RoomRegistrationNo" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    
                            <button type="submit" class="btn btn-success" ng-click="save()">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>