﻿<div ng-controller="addController" class="col-md-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Mevcut Hesaplar</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Hesap</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select class="form-control" ng-model="dataSet.currentAccount"
                                ng-options="item.FullAccountCode + ' ('+ item.AccountName+ ') ' for item in dataSet.data track by item.FullAccountCode"
                                ng-change="selectAccount()"></select>

                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Yeni Hesap Bilgileri</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left">

                <div class="form-group">

                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Hesap Kodu</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input class="form-control" ng-model="dataSet.newAccount.accountCode" />
                    </div>

                </div>
                <div class="form-group">

                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Hesap Adı</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input class="form-control" ng-model="dataSet.newAccount.accountName" />
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Hesap Tipi</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select class="form-control"
                                ng-model="dataSet.newAccount.accountType"
                                ng-init="dataSet.newAccount.accountType=dataSet.accountTypes[0]"
                                ng-options="item.name for item in dataSet.accountTypes"></select>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 text-right">
                        <button type="submit"
                                class="btn btn-success"
                                ng-click="save()">
                            Kaydet
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    
   </div>