
<div>
    <form method="post" action="/Home/Index" enctype="multipart/form-data">

        <input type="file" name="file" />
        <br />
        <button name="submit" type="submit">OK</button>


    </form>



</div>

